header {
   text-align: center;
   border-bottom
}
main {
    min-height: 78vh;
}
footer {
    text-align:center;
}
nav a {
    text-decoration: none;
    font-size: 28px;
    color: brown;
    font-weight: bold;
    margin-left: 18px;
}
section {
    width: 70%;
    text-align: justify;
    line-height: 2rem;
    margin-left: 20px;
}

hr {
    border: 3px solid brown;
}

.active {
color: green;
}
main{
    min-height: 78vh;
}
form div{
    margin: 10px auto;
}